// styles.scss

// Variables
$primary-color: purple;

// Estilos personalizados para el navbar
.ad-img {
  &-logo-1 {
    width: 344px;
    height: 102px;
    margin: 32px 0px;
  }

  &-carousel {
    width: 1317px;
    height: 691px;
  }


  &-logo-2 {
    --bs-nav-link-color: white;
  }
}
