.ad-card {
  &-product {
    --bs-card-border-radius: 0px !important;
    --bs-card-inner-border-radius: 0px !important;
    --bs-card-border-width: 0px !important;
  
    width: 400px;

    @media (max-width: 576px) {
      width: 300px;
    }
    @media (min-width: 576px) and (max-width: 768px) {
      width: 200px;
    }
    @media (min-width: 768px) and (max-width: 992px) {
      width: 350px;
    }
    @media (min-width: 992px) and (max-width: 1400px) {
      width: 350px;
    }
  }

  &-line {
    --bs-card-border-radius: 0px !important;
    --bs-card-inner-border-radius: 0px !important;
    --bs-card-border-width: 0px !important;
  
    width: 375px;

    @media (max-width: 576px) {
      width: 300px;
    }
    @media (min-width: 576px) and (max-width: 768px) {
      width: 300px;
    }
    @media(min-width: 768px) and (max-width: 992px) {
      width: 550px;
    }
    @media (min-width: 992px) and (max-width: 1400px) {
      width: 400px;
    }

  }
}
