.ad-card {
  &-product {
    --bs-card-border-radius: 0px !important;
    --bs-card-inner-border-radius: 0px !important;
    --bs-card-border-width: 0px !important;
  
    margin: 10px auto;
    width: 450px;

    @media (max-width: 576px) {
      width: 150px;
    }

    @media (min-width: 576px) and (max-width: 768px) {
      width: 200px;
    }

    @media (min-width: 992px) and (max-width: 1200px) {
      width: 280px;
    }
  }

  &-line {
    --bs-card-border-radius: 0px !important;
    --bs-card-inner-border-radius: 0px !important;
    --bs-card-border-width: 0px !important;
  
    margin: 20px auto;
    width: 530px;

    @media (max-width: 576px) {
      width: 250px;
      margin: 10px auto;
    }

    @media (min-width: 576px) and (max-width: 768px) {
      width: 400px;
    }

    @media (min-width: 992px) and (max-width: 1200px) {
      width: 480px;
    }

    @media (min-width: 1200px) {
      width: 530px;
    }
  }
}
