.ad-card {
  &-product {
    margin: 10px auto;
    width: 320px; // Default width

    @media (max-width: 576px) { // XS
      width: 150px; 
    }

    @media (min-width: 576px) and (max-width: 768px) { // SM
      width: 200px;
    }

    @media (min-width: 768px) and (max-width: 992px) { // MD
      width: 250px; 
    }

    @media (min-width: 992px) and (max-width: 1200px) { // LG
      width: 280px;
    }

    @media (min-width: 1200px) { // XL
      width: 320px; 
    }

    &-img {
      width: auto;
      height: 211px; // Default height

      @media (max-width: 576px) { // XS
        height: 99px; 
      }

      @media (min-width: 576px) and (max-width: 768px) { // SM
        height: 145px; 
      }

      @media (min-width: 768px) and (max-width: 992px) { // MD
        height: 165px; 
      }

      @media (min-width: 992px) and (max-width: 1200px) { // LG
        height: 190px;
      }

      @media (min-width: 1200px) { // XL
        height: 211px; 
      }
    }
  }

  &-line {
    margin: 20px auto;
    width: 530px; // Default width

    @media (max-width: 576px) { // XS
      width: 250px; 
      margin: 10px auto;
    }

    @media (min-width: 576px) and (max-width: 768px) { // SM
      width: 400px; 
    }

    @media (min-width: 768px) and (max-width: 992px) { // MD
      width: 450px; 
    }

    @media (min-width: 992px) and (max-width: 1200px) { // LG
      width: 480px; 
    }

    @media (min-width: 1200px) { // XL
      width: 530px; 
    }

    &-img {
      width: auto;
      height: 350px; // Default height

      @media (max-width: 576px) { // XS
        height: 165px; 
      }

      @media (min-width: 576px) and (max-width: 768px) { // SM
        height: 200px; 
      }

      @media (min-width: 768px) and (max-width: 992px) { // MD
        height: 264px; 
      }

      @media (min-width: 992px) and (max-width: 1200px) { // LG
        height: 300px; 
      }

      @media (min-width: 1200px) { // XL
        height: 350px; 
      }
    }
  }
}
