.ad-card {
  &-product {
    margin: 10px auto;
    width: 320px;

    @media (max-width: 768px) {
      width: 200px;
    }

    @media (min-width: 768px) and (max-width: 1200px) {
      width: 280px;
    }

    &-img {
      width: auto;
      height: 211px;



      @media (max-width: 768px) {
        height: 145px;
      }

      @media (min-width: 768px) and (max-width: 1200px) {
        height: 190px;
      }

    }
  }

  &-line {
    margin: 20px auto;
    width: 530px;

    @media (max-width: 768px) {
      width: 400px;
    }


    @media (min-width: 768px) and (max-width: 1200px) {
      width: 480px;
    }

    &-img {
      width: auto;
      height: 350px;

      @media (max-width: 768px) {
        height: 200px;
      }

      @media (min-width: 768px) and (max-width: 1200px) {
        height: 300px;
      }

    }
  }
}
