.ad-img {
  
  &-logo-1 {

    @media (max-width: 1200px) {
      display: none;
    }
  }

  &-carousel {
    width: 100%;
    height: 564px;

    @media (min-width: 768px) and (max-width: 1200px) {
      width: 100%;
      height: 386px;
    }

    @media (max-width: 768px) {
      width: 100%;
      height: 329px;
    }
  }

  &-product {
    width: 600px;
    height: 400px;
  }

  &-logo-footer {
    width: 200px;
  }
}
