.ad-dinamic-catalog {
  &-container {
    min-height: 512px;

    @media (min-width: 768px) and (max-width: 1400px) {
        min-height: 560px;
    
    }

    @media (max-width: 768px) {
        min-height: 608px;
    }
  }

  &-justify-content {
    display: flex;
    justify-content: center;
    padding: 16px 0px;
  }

}
