.ad-navbar {
  &-movile-hide {
    @media (min-width: 1200px) {
      display: none;
    }
  }

  &-center-content {
    justify-content: right;
  }

  &-item-light {
    --bs-nav-link-color: white;
  }

  &-border-rigth {
    border-right: 2px groove white !important;
  }

  &-text-start {
    text-align: start;
  }
}
