@font-face {
  font-family: 'Rondal';
  src: url('./assets/fonts/Rondal-Regular.woff2') format('woff2'),
       url('./assets/fonts/Rondal-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0;
  font-family: 'Rondal', sans-serif !important;
  font-size: 1.25rem !important;
  font-weight: 400 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
